  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.res_id}}" placeholder="ID" name="res_id">
      <label for="floatingInput">ID</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.res_first_name}}" placeholder="First Name" name="res_first_name">
      <label for="floatingInput">First Name</label>
    </div>
  </div>
  <div class="col-6">
      <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" value="{{this.res_city}}" placeholder="City" name="res_city">
          <label for="floatingInput">Resident City</label>
      </div>
  </div>
  <div class="col-6">
      <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" value="{{this.res_state}}" placeholder="State" name="res_state">
          <label for="floatingInput">Resident State</label>
      </div>
  </div>
  <div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
